#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100px;
  height: 100px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-collapse: co;
}
